@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app{
    @include m.tablet{
        display: grid;
        grid-template-columns: 50% 50%;
        min-height:100vh;
    }

    .imagen{
        height:25rem;
        background-image: url(../img/foto_mujer.jpg);
        background-size: cover;//para aparecer entero
        background-position: center center;
        @include m.tablet{
            height:auto;
        }
    }

    .app{
        width:95%;
        margin:0 auto;
        padding:3rem 0;
        @include m.tablet {
            overflow: scroll;
        }
    }
}

.barra{
    margin:0;
    @include m.tablet{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .boton{ 
        margin:0;
        @include m.boton(v.$rojo, v.$blanco);
        transition:2s ease-in-out;
    
        &:hover{
            @include m.boton(darken(v.$rojo,5%), v.$blanco);
            transition: 2s ease-in-out; 
        }
    }
    p{
        color:lighten(v.$azul, 30%);
        text-align: center;
        margin:0;
    }
    
}